@import 'tailwindcss';
@import "bootstrap-icons/font/bootstrap-icons.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: 'Nunito', sans-serif;

    --color-primary: #451A5B;
    --color-background: oklch(96.7% 0.001 286.375);
    --color-description: oklch(55.1% 0.027 264.364);
    --color-border: oklch(87.2% 0.01 258.338);
    --color-input: #F7F6F8;
}




